<!-- <pre>
	{{ dump(data) }}
</pre>
	 -->
 <!-- Modal START-->
  <div class="modal fade" id="social_share_us" role="dialog">
	    <div class="modal-dialog">
	      <!-- Modal content-->
		      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			        </div>
			        <div class="modal-body">
			          {{ data.mydata.social_share }}
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
		      </div>
	    </div>
  </div>
<!-- Modal END-->
<div class='atheltic-profile'>
	<section class="user-data">
	  	<div class="container">
	  		<div class="row">
		  		<div class="col-6 user-info">
		          	<div class="row title">
		              	<h1>{{ data.first_name }} {{ data.last_name }}</h1>
		              	<br />
		              	<span class="sub_title">{{data.org_info.sport}} | {{data.org_info.pos}}</span>
		              	<div class="social_icons_top">
		                  	<div class="icons_only">
		                  	<a href="#" data-toggle="modal" data-target="#social_share_us"><i class="fa fa-share-alt"></i></a>
		                  	<a href="{{data.athlete_social.athlete_social_2}}" target="_blank"><i class="fab fa-youtube"></i></a>
		                  	<a href="{{data.athlete_social.athlete_social_1}}" target="_blank"><i class="fab fa-instagram"></i></a>
		                  	</div>
		                  	<div class="star_icon">
		                  		<span class="hd_line">
		                  			{% if logged_in %}
		                  			<i class="fa fa-star"></i>
		                  			{% else %}
		                  			<i class="fa fa-star-o"></i>
		                  			{% endif %}
		                  			COACHES FOLLOWS THIS ATHLES
		                  		</span>
		                  	</div>
		              	</div> 
		          	</div>
		          	<div class="row">
		              	<div class="col-6 item_image">
		              		<div class="image">
		                		<img src="{{ data.image }}" alt="" />
		                	</div>
		                	<a href = "mailto:{{ data.mail }}">EMAIL ATHLETE</a>
		              	</div>

		              	<div class="col-6 bio_data">  
			                <p>{{ data.athlete_info.athlete_state }}</p>
			                <p>{{ data.date }} yrs</p>
			                <p>Sophomore year</p>
			                <p>Graduates {{data.athlete_info.athlete_year}}</p>
			                <p>{{ data.athlete_info.field_height }}"</p>
			                <p>{{ data.athlete_info.field_weight }} lbs</p>
			                <p>Williams Field Hight School Gilbert AZ</p>
			                <!-- <p>{{ data.org_info.name }}</p>
			                <p>{{ data.org_info.stat }}</p> -->
		              	</div>
		             </div>
				</div>
				<div class="col-6 user-stats">
					<h2>Latest Assessment Snapshot</h2>
					<h6>TO REVIEW ALL MY ASSESSMENTS AND STATS, SELECT THE "BFSS ASSESSMENT STATS" SECTION BELOW</h6>
					<div class="statistics">
						<img src="/modules/custom/bfss_assessment/img/stats.png">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="accordion_tabs_block space">
	  	<div class="container">
	  		<div class="row">
	  			<!-- #toggler -->
	  			<!-- toggler 1 -->
	  			<div class="toggler-wrap col-12">
	  				<h3>
	  					<div class="toggle_icon">
	  						<i class="fa fa-minus"></i>
	  						<i class="fa fa-plus hide"></i>
	  					</div>
	  					BFSS ASSESSMENTS
	  				</h3>
	  				<div class="toggle-content image-include asseselst user_pro_block">

	  					 {{ data.mydata.bfss_assessments }}
	  				<!--  <img src="/modules/custom/bfss_assessment/img/assessment-table-static.jpg">  -->
					</div>
				</div>
	  			<!-- toggler 2 -->
	  			<div class="toggler-wrap col-12">
	  				<h3>
	  					<div class="toggle_icon">
	  						<i class="fa fa-minus"></i>
	  						<i class="fa fa-plus hide"></i>
	  					</div>
	  					ABOUT ME
	  				</h3>
	  				<div class="toggle-content">
	  					{{ data.athlete_about_me }}
					</div>
				</div>
	  			<!-- toggler 3 -->
	  			<div class="toggler-wrap col-12">
	  				<h3>
	  					<div class="toggle_icon">
	  						<i class="fa fa-minus"></i>
	  						<i class="fa fa-plus hide"></i>
	  					</div>
	  					PERSONAL STATS
	  				</h3>
	  				<div class="toggle-content">
	  					{{ data.athlete_school.athlete_school_stat|nl2br }}
	  					<!-- {% if data.org_info.sport %}
	  						<p>Here are my {{ data.org_info.sport }} Stats</p>
	  					{% endif %}
	  					{% if data.org_info.pos %}
	  						<p>{{ data.org_info.pos }}</p>
	  					{% endif %}
	  					{% if data.org_info.pos1 %}
	  						<p>{{ data.org_info.pos1 }}</p>
	  					{% endif %}
	  					{% if data.org_info.pos2 %}
	  						<p>{{ data.org_info.pos2 }}</p>
	  					{% endif %} -->

					</div>
				</div>
	  			<!-- toggler 4 -->
	  			<div class="toggler-wrap col-12">
	  				<h3>
	  					<div class="toggle_icon">
	  						<i class="fa fa-minus"></i>
	  						<i class="fa fa-plus hide"></i>
	  					</div>
	  					MY VIDEOS
	  				</h3>
	  				<!-- https://www.youtube.com/channel/UCHxBGjJA3z1BEzPw8GQnExw -->
	  				<div class="toggle-content">
	  					{% if data.mydata.field_youtube is not empty %}
	  						<iframe src="https://www.youtube.com/embed/{{data.mydata.field_youtube}}" width="100%" height="400"></iframe>
	  					{% else %}
	  						<!-- <p> No videos available! </p> -->
	  						<iframe width="100%" height="315" src="https://www.youtube.com/embed/yAoLSRbwxL8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  					{% endif %} 
					</div>
				</div>
	  			<!-- toggler 5 -->
	  			<div class="toggler-wrap col-12">
	  				<h3>
	  					<div class="toggle_icon">
	  						<i class="fa fa-minus"></i>
	  						<i class="fa fa-plus hide"></i>
	  					</div>
	  					MY INSTAGRAM
	  				</h3>
	  				<div class="toggle-content image-include">
	  				<!-- {% set images = data.mydata.field_instagram %}
  					  <section class="regular slider">
  					  	 {% for image in images %}
					    <div>
					      <img src="{{image}}" width="300px" height="300px">
					    </div>
					    {% endfor %}
					  </section> -->
					  <input type="hidden" name="instagram_username" id="instagram_username" value="{{ data.mydata.field_instagram }}">
					  <div id="instagram-feed1" class="instagram_feed regular slider"></div>
					</div>
				</div>
	  			<!-- #toggler -->
			</div>
		</div>
	</section>
</div>