<!--<pre>
	{{ dump(data) }}
</pre> -->

<div class="calender_event_pop_up">
<div class="container">
	<div class="tophead">
		<div class="image">
			<img src='{{ data.field_image }}' alt='{{ data.title }}' />
		</div>
		<div class="title-timing">
			<div>
				{% if data.latest_timing %}
					<span class="timing-date">
					{{ data.latest_timing|date("M") }}</span>
					<span class="timing-info">{{ data.latest_timing|date("d") }}</span>
					
				{% endif %}
			</div>
			<div>
				<h2>
					{{ data.title }} 
				</h2>
				<span class='loca'>{{ data.field_location|slice(0,27) }} </span>
			</div>
		</div>
	</div>

	{% if ('bfss_administrator' in data.roles and data.assess_type == 'private') or ('coach' in data.roles and data.assess_type == 'private') or ('bfss_manager' in data.roles and data.assess_type == 'private') %}
	{% else %}
	
	<div class="ticketing">
		
		<div class="share">
		<span><a class="share_assessment"><i class="fas fa-share"></i>  Share</a></span>
				<div class="social_share_links" style="display:none;">
					<ul>
					<li><a target="_blank" rel="nooopener noreffer" class="facebook-share share" href="http://www.facebook.com/share.php?u=http://5ppsystem.com/node/43826&amp;title={{ data.title }}" title="Facebook">
			                      <img alt="Facebook" src="/modules/contrib/social_media/icons/facebook_share.svg"> </a>
			                 
			        </li>
<!-- 			        <li>
			        <a target="_blank" rel="nooopener noreffer" class="linkedin share" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{data.current_page}}&amp;summary=aa&amp;title=asdas" title="Linkedin">
                      <img alt="Linkedin" src="/modules/contrib/social_media/icons/linkedin.svg">
                  	</a>
			        </li> -->
			        <li>
			            <a target="_blank" rel="nooopener noreffer" class="twitter share" href="https://twitter.com/intent/tweet?text=Date:{{ data.latest_timing|date('M d, Y h:i A') }}%0aTime:{{ data.latest_timing|date('h:i A') }}%0aLocation:{{ data.field_location }}%0aSite:{{data.current_page}}%0aDescription:{{ data.body|striptags|truncate(60) }}...&amp;hashtags={{ data.title|replace({' ': ''}) }}" title="Twitter">
	                      <img alt="Twitter" src="/modules/contrib/social_media/icons/twitter.svg">
	                  </a>
	                  </li>
	                  <li>
        				<a target="_blank" rel="nooopener noreffer" class="pinterest share" href="https://www.pinterest.com/pin/create/button/?url={{data.current_page}}&amp;description={{ data.title }}, Date:{{ data.latest_timing|date('M d, Y h:i A') }}, Time:{{ data.latest_timing|date('h:i A') }}, Location:{{ data.field_location }}, Description:{{ data.body|striptags|truncate(60) }}..." title="Pinterest">
                      	<img alt="Pinterest" src="/modules/contrib/social_media/icons/pinterest.svg">
                  		</a>
     			 	  </li>
     			 	  <li>

     			 	  	<a class="email share" href="mailto:?subject={{ data.title }}&amp;body=Better Faster Stronger Science -Assessment<br/><br/>Time:<br/>{{ data.latest_timing|date('h:i A') }}<br/><br/>Location:<br/>{{ data.field_location|replace({',': '<br>'}) }}<br></br>Description: {{ data.body|striptags|replace({',': '<br>'})|truncate(60) }}...&amp;title={{ data.title }}" title="Email"> 
                      <img alt="Email" src="http://5ppsystem.com/modules/contrib/social_media/icons/email.svg">
                  		</a>
                  		 </li>
			        </ul>
             </div>
		</div>
		{% if 'bfss_administrator' in data.roles or 'coach' in data.roles or 'bfss_manager' in data.roles  %}
		{% else %}
			<div class="ticket">
			<a href="{{ data.url }}"><span><i class="fal fa-ticket-alt"></i>   TICKETING</span></a>
			</div>
		{% endif %}
	</div>

	{% endif %}

	<div class="details">
		<div class="body">
			
			<div class='node-body'>
				{{ data.body }}
			</div>
		</div>
		<div class="date-location">
			<div class="date-and-time">
				<p>DATE AND TIME</p>
				{% if data.latest_timing %}
					<span class="timing-date">
						{{ data.latest_timing|date("l") }}<br/>
						{{ data.latest_timing|date("M d, Y h:i A") }}
					</span>
				{% endif %}
				<p>UNTIL</p>
				<span>
				{{ data.latest_duration }}
				</span>

			<div>
			<div class="location">
				<p>LOCATION</p>
				{{ data.field_location }}
			<div>
			{% set role = 'athlete' %}
			{% if role in data.roles %}
			<div class="ticketing">
				<p>TICKETING</p>
				<a href="{{ data.url }}" class="book-now">Book Now</a>
			<div>
			{% endif %}


			{% if 'bfss_administrator' in data.roles or 'coach' in data.roles or 'bfss_manager' in data.roles %}
			<div class="ticketing">
				<p class="title-hde">ASSESSMENT TYPE</p>
				<span style="color:#000;">{{ data.assess_type|capitalize }}</span>
			<div>
			{% endif %}
		</div>
	</div>
</div>
</div>