 <!--<pre>
	{{ dump(data) }}
</pre>--> 
<script>
jQuery(document).ready(function() {
jQuery(".share a.share_assessment").click(function(){
  		jQuery(".social_share_links").toggle('slow');
  		console.log("here toogle");
	});
	});
</script>
<div class="calender_event_pop_up">
<div class="container">
	<div class="tophead">
		<div class="image">
			<img src='{{ data.field_image }}' alt='{{ data.title }}' />
		</div>
		<div class="title-timing">
			<div>
				{% if data.latest_timing %}
					<span class="timing-date">
					{{ data.latest_timing|date("M") }}</span>
					<span class="timing-info">{{ data.latest_timing|date("d") }}</span>
					
				{% endif %}
			</div>
			<div>
				<h2>
					{{ data.title }} 
				</h2>
				<span class='loca'>{{ data.field_location|slice(0,27) }} </span>
			</div>
		</div>
	</div>
	<div class="ticketing">
		
		<div class="share">
		<span><a class="share_assessment"><i class="fas fa-share"></i>  Share</a></span>
				<div class="social_share_links" style="display:none;">
					<ul>
					<li><a target="_blank" rel="nooopener noreffer" class="facebook-share share" href="http://www.facebook.com/share.php?u={{data.current_page}}&amp;title={{ data.title }}" title="Facebook">
			                      <img alt="Facebook" src="/modules/contrib/social_media/icons/facebook_share.svg"> </a>
			                 
			        </li>
			        <li>
			        <a target="_blank" rel="nooopener noreffer" class="linkedin share" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{data.current_page}}&amp;title={{ data.title }}&amp;source={{data.current_page}}" title="Linkedin">
                      <img alt="Linkedin" src="/modules/contrib/social_media/icons/linkedin.svg">
                  	</a>
			        </li>
			        <li>
			            <a target="_blank" rel="nooopener noreffer" class="twitter share" href="https://twitter.com/intent/tweet?url={{data.current_page}}&amp;url={{data.current_page}}&amp;hashtags={{ data.title }}" title="Twitter">
	                      <img alt="Twitter" src="/modules/contrib/social_media/icons/twitter.svg">
	                  </a>
	                  </li>
	                  <li>
        				<a target="_blank" rel="nooopener noreffer" class="pinterest share" href="https://www.pinterest.com/pin/create/button/?url={{data.current_page}}&amp;description={{ data.title }}" title="Pinterest">
                      	<img alt="Pinterest" src="/modules/contrib/social_media/icons/pinterest.svg">
                  		</a>
     			 	  </li>
     			 	  <li>
     			 	  <a class="email share" href="mailto:?subject={{ data.title }}&amp;body=Check out this site {{data.current_page}}" title="Email">
                      <img alt="Email" src="http://5ppsystem.com/modules/contrib/social_media/icons/email.svg">
                  		</a>
                  		 </li>
			        </ul>
             </div>
		</div>
		
		<div class="ticket">
		<span><i class="fal fa-ticket-alt"></i>   TICKETING</span>
		</div>
	</div>
	<div class="details">
		<div class="body">
			
			<div class='node-body'>
				{{ data.body }}
			</div>
		</div>
		<div class="date-location">
			<div class="date-and-time">
				<p>DATE AND TIME</p>
				{% if data.latest_timing %}
					<span class="timing-date">
						{{ data.latest_timing|date("l") }}<br/>
						{{ data.latest_timing|date("M d, Y h:i A") }}
					</span>
				{% endif %}
				<p>UNTIL</p>
				<span>
				{{ data.latest_duration }}
				</span>

			<div>
			<div class="location">
				<p>LOCATION</p>
				{{ data.field_location }}
			<div>
			{% set role = 'athlete' %}
			{% if role in data.roles %}
			<div class="ticketing">
				<p>TICKETING</p>
				<a href="{{ data.url }}" class="book-now">Book Now</a>
			<div>
			{% endif %}
		</div>
	</div>
</div>
</div>