<div class="bfss_manager_page">	

		<div class="bfss_manager">
			<div class="bfss_manager_black_layer">
				<h4>Credit Card Information</h4>
			</div>
			<div class="bfss_manager_inner">
				<div class="bfss_manager_form">
					<form>
						<div class="full_inputs">
							<input class="form-control" type="text" placeholder="Name on the card" >
							<input type="number" placeholder="Credit Card Number" class="form-control">
						</div>
						<div class="half_inputs">
							<div>
							<select id="cars" class="form-control">
							{% for key,value in monthlisting %}
								<option value="{{ key }}">{{ value }}</option>
							{% endfor %}
							</select>
							</div>
							<div>
								  <select id="cars" class="form-control">
								  {% for key,value in yearlisting %}
									<option value="{{ key }}">{{ value }}</option>
								{% endfor %}
							</select>
							</div>
						</div>
						<div class="number"><input placeholder="3 Digits(CVV)" class="form-control" type="number"></div>
					</form>
			    </div>
			</div>


		<div class="bfss_manager_inner_sec">
		<div class="bfss_manager_black_layer">
				<h4>Billing Information</h4>
			</div>
			<div class="bfss_manager_inner">
				<div class="bfss_manager_form">
					<form>
						<div class="full_inputs">
							<input type="text" placeholder="Address 1" class="form-control">
							<input type="number" placeholder="Address 2" class="form-control">
						</div>
						<div class="half_inputs_feild">
							<div >
							<input class="form-control" id="cars" type="text" placeholder="City" >
							</div>
							<div>
								  <select id="state" class="form-control">
								  {% for key,value in states %}
									<option value="{{ key }}">{{ value }}</option>
								{% endfor %}
							</select>
							</div>
							<div>
								  <input class="form-control" id="cars" type="text" placeholder="Zip/Post Code" >
							</div>
						</div>
						<div class="half_inputs_feild" style="margin-top:12px;"><select id="country" class="form-control">
								  {% for key,value in country %}
									<option value="{{ key }}">{{ value }}</option>
								{% endfor %}
							</select></div>

					</form>
			    </div>
			</div>
			<div class="submit_btn_wrap"><input type="submit" value="SAVE / UPDATE"></div>
			</div>
		</div>


		<div class="bfss_manager_right">
<div class="bfss_manager">
			<div class="bfss_manager_black_layer">
				<h4>Invoice History</h4>
			</div>
			<div class="left_manager_inner">
				<div class="">
					<ul>
						<li>
							<a href="#">Cridit card information</a>
							<p>September 29</p>
						</li>
						<li>
							<a href="#">Cridit card information</a>
							<p>September 29</p>
						</li>
						<li>
							<a href="#">Cridit card information</a>
							<p>September 29</p>
						</li>
					</ul>
			    </div>
			</div>
		</div>
		</div>


</div>