
<html>   
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/themes/custom/bfss_custom/css/style-custom.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

      <!-- Modal body -->
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12 pb-2">
				<p>Welcome Jodi, to continue you must complete all the required fields below.</p>
			</div>
		</div>
			<div class="row">
				<div class="col-md-8">
					<div id="accordion">
						<div class="card">
							<div class="card-header">
							  <a class="card-link d-flex justify-content-between" data-toggle="collapse" href="#collapseOne">
								<span><i class="fas fa-minus text-orange pr-2"></i>ATHLETE'S INFORMATION</span>
								<i class="fas fa-info text-orange"></i>
							  </a>
							</div>
							<div id="collapseOne" class="collapse show" data-parent="#accordion">
							  <div class="card-body py-4 my-2">
								<div class="form-group">
									{{form.jodi}}
								</div>
								<div class="form-group">
									{{form.bloggs}}
								</div>
								<div class="form-group">
									{{form.az}}
								</div>
								<div class="form-group">
									{{form.city}}
								</div>
								<div class="form-group">
									{{form.birth_gender}}
								</div>
								<div class="form-group">
									{{form.field_dob}}
								</div>
								<div class="form-group">
									{{from.height}}
								</div>
							</div>
						  </div>
						</div>
					  <div class="card">
						<div class="card-header">
						  <a class="collapsed card-link d-flex justify-content-between" data-toggle="collapse" href="#collapseTwo">
							<span><i class="fas fa-minus text-orange pr-2"></i>SCHOOL/CLUB/UNIVERSITY</span>
							<i class="far fa-trash-alt text-orange"></i>
						  </a>
						</div>
						<div id="collapseTwo" class="collapse show">
						  <div class="card-body py-4 my-2">
							<div class="form-group">
								{{form.organization_type}}
							</div>
							<div class="form-group">
								{{form.organization_name}}
							</div>
							<div class="form-group">
                                                                {{form.coach_lname}}
							</div>
							<div class="form-group">
								{{form.sport}}
							</div>
							<div class="form-group">
								{{form.position}}
							</div>
							<button type="button" class="bg-transparent border-0 text-orange">+ Additional Position</button>
							
						  </div>
						</div>
					  </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
						  <a class="collapsed card-link d-flex justify-content-between" data-toggle="collapse" href="#collapseThree">
							<span><i class="fas fa-minus text-orange pr-2"></i>SOCIAL MEDIA</span>
							<i class="fas fa-info text-orange"></i>
						  </a>
						</div>
						<div id="collapseThree" class="collapse show">
							<div class="card-body py-4 my-2">
								<div class="form-group">
                                                                    {{form.instagram}}
								</div>
								<div class="form-group">
                                                                    {{form.youtube}}
								</div>
							</div>
						</div>
					  </div>
				</div>
			</div>	
		</div>
      <!-- Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->

    </div>
  </div>
  </body>
</html>