<!-- Add you custom twig html here -->

<div class="reg-form-tabs reg-tab-1">
  {{ form.step_1 }}
</div>
<div class="reg-form-tabs reg-tab-2">
  {{ form.step_2 }}
</div>

{# Renders the rest of the form #}
{{ form|without('step_1','step_2') }}

<!-- Sub fields like this -->
<!-- <div class="xyz">
  {# {{ form.step_2.account }} #}
</div> -->

<!-- Whole Form -->
{# {{ form }} #}
