<!-- ------------Side Navbar----------start -->
<!-- ------------Side Navbar----------end -->
<div class="dash-main-right">
   <h1><i class="fas fa-home" 11></i><span>></span> Dashboard </h1>
   <div class="dash-sub-main">
      <img src="/themes/custom/bfss_custom/images/images-dashboard/dash-img.png">  
      <h2><span>ALL FEATURES</span><br>Dashboard  </h2>
   </div>
</div>
<!----------Quick Link Section -----Start------->
<div class="quick-link">
   <div class="row" style="margin-left: 0px;margin-right: 0px;">
      <div class="col-lg-8 ">
         <h1>Quick links</h1>
         {% if rolename == 'coach' %}
         <div class="row">
            <div class="col-md-3 mob_bottom_margin">
               <a class="datainfo" href="/bfss-funds">
                  <div class="quick-link-sub-sec">
                     <i class="fal fa-hands-usd"></i>
                     <p>Funds from<br>
                        BFSS
                     </p>
                  </div>
               </a>
            </div>
            <div class="col-md-3 mob_bottom_margin">
               <a class="datainfo" href="/athletes-follow">
                  <div class="quick-link-sub-sec">
                     <i class="fas fa-star"></i>
                     <p>Athletes<br>
                        I Follow
                     </p>
                  </div>
               </a>
            </div>
            <div class="col-md-3 mob_bottom_margin">
               <a class="datainfo" href="/faqs">
                  <div class="quick-link-sub-sec">
                     <i class="fas fa-lightbulb-on"></i>
                     <p>Frequently Asked<br>
                        Questions
                     </p>
                  </div>
               </a>
            </div>
            <div class="col-md-3 mob_bottom_margin">
               <a href='#' class="atheltic_link">
                  <div class="quick-link-sub-sec">
                     <i class="far fa-ticket-alt"></i>
                     <p>Support<br />Ticket</p>
                  </div>
               </a>
            </div>
         </div>
         {% else %}
         <div class="row">
            <div class="col-md-3 mob_bottom_margin">
               <a class="datainfo" href="/appointments/scheduled">
                  <div class="quick-link-sub-sec">
                     <i class="fal fa-calendar-alt"></i>
                     <p>My Scheduled <br>
                        Assessments
                     </p>
                  </div>
               </a>
            </div>
            <div class="col-md-3 mob_bottom_margin">
               <a href="/my_assessments">
                  <div class="quick-link-sub-sec">
                     <i class="far fa-chart-bar"></i>
                     <p>My Assessment <br>
                        Stats
                     </p>
                  </div>
               </a>
            </div>
            <div class="col-md-3 mob_bottom_margin">
               <a href='/bfssAthleteProfile' class="atheltic_link">
                  <div class="quick-link-sub-sec">
                     <i class="far fa-chart-network"></i>
                     <p>My Athletic <br />Profile</p>
                  </div>
               </a>
            </div>
            <div class="col-md-3 mob_bottom_margin">
               <a class="datainfo" href="/faqs">
                  <div class="quick-link-sub-sec">
                     <i class="fas fa-lightbulb-on"></i>
                     <p>Frequently Asked<br>
                        Questions
                     </p>
                  </div>
               </a>
            </div>
         </div>
         {% endif %}
      </div>
      <div class="col-lg-4">
         {% if rolename == 'coach' %}
         <div class="my-assessment ">
            <button class="accordion"><i class="fa fa-minus" aria-hidden="true"></i>FUNDS RAISED</button>
            <div class="panel fund-raised-box">
               <div class="panel_row">
                  <h3>James Walker</h3>
                  <p>+$10 Pending</p>
               </div>
               <div class="panel_row">
                  <h3>Tom Twyford</h3>
                  <p>+ $25 Pending</p>
               </div>
               <div class="panel_row">
                  <h3>Charles Argyle</h3>
                  <p>+ $25 Pending</p>
               </div>
               <div class="panel_row">
                  <h3>Tom Twyford</h3>
                  <p>+ $25 Pending</p>
               </div>
               <div class="panel_row">
                  <h3>Charles Argyle</h3>
                  <p>+ $10 Pending</p>
               </div>
            </div>
         </div>
         {% else %}
         <div class="my-assessment">
            <button class="accordion"><i class="fa fa-minus" aria-hidden="true"></i> MY ASSESSMENTS</button>
            <div class="panel">
               {% if my_assessments_section_block is empty %}
               <div class="panel_row">
                  <p>No Assessment</p>
               </div>
               {% else %}
               {% for assess in my_assessments_section_block %}
               <div class="panel_row">
                  <h3>{{ assess.formtype }}</h3>
                  <p>{{ assess.date }}</p>
               </div>
               {% endfor %}
               {% endif %}
            </div>
         </div>
         {% endif %}
      </div>
   </div>
</div>
<!----------Quick Link Section -----End-------> 
<!----------Tabs Section -----Start------->
<div class="tab-main-sec assessments-sec">
   <div class="row" style="margin-left: 0px;margin-right: 0px;">
      <div class="col-lg-8 col-md-12">
         <div class="row tab-main-sec-heading">
            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
               <div class="month_filter">{{ month_block }}</div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-6 search_icon filters-right">
               <div class="sea-inp-ic">
                  <a class="pr-3 assessment-search-icon"><i class="fas fa-search"></i></a>
                  <div class="search-assessements-input" style="display:none;">
                     {{ search_filter_block }}
                  </div>
               </div>
               <div class="search_icon_field">
                  <i class="fal fa-calendar-alt"></i>
                  {{ month_view_filter_block }}
                  <!-- <input placeholder="Month View" type="text" id="date-picker-example" class="form-control datepicker"> -->
                  <i class="fal fa-caret-down"></i>
               </div>
            </div>
         </div>
         <hr/>
         <div class="tab-nav">
            <ul class="mb-4">
               <li><a href="javascript:void(0);">Categories </a> </li>
               <li><a href="javascript:void(0);">Tags </a></li>
               <li><a href="javascript:void(0);">Organizers </a></li>
               <li><a href="javascript:void(0);">Venues </a></li>
            </ul>
         </div>
         <!-- ---------Profile Card---HTML----Start-->
         {{ assessments_block }}
         <!-- ---------Profile Card---HTML----End-->
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3"></div>
   </div>
</div>