{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    main_info.args ? 'user_edit_profile',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/themes/custom/bfss_custom/css/style-custom.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes }} id="{{edit_profile_class}}">
  <script type="text/javascript">
   $(document).ready(function(){
   $('.dropdown > a').click(function(e){
     e.preventDefault();
     e.stopPropagation();
     $(this).siblings('.dropdown-menu').toggleClass('open');
     $(this).find('.down-arrow').toggleClass('open-caret');

   });

   $(document).click(function(){
       $('.dropdown-menu').removeClass('open');
       $('.down-arrow').removeClass('open-caret');  
     });
   });
   
   function openForm() {
   document.getElementById("myForm").style.display = "block";
   }
   
   function closeForm() {
   document.getElementById("myForm").style.display = "none";
   }
   
   
</script>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    <div class="row border_bottom custom-nav-box" style="margin-left: 0px;margin-right: 0px;margin-top:-2px">
      <div class="col-lg-3 pr-0 pl-0 custom-left-box-width">
         <nav class="navbar navbar-expand-xs bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#"><img src="/themes/custom/bfss_custom/images/images-dashboard/logo.png"></a>
            <!-- Toggler/collapsibe Button -->
              <div id="cssmenu">
               <div id="menu-button">
                      <span class=" toggle_icon fa fa-bars"></span>
            </div>
            </div>
         </nav>
      </div>
      <div class="col-lg-9 col-md-12 custom-right-nav-box">
         <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6 col-6 pr-0 pl-0 top_right">
               <div class="calender_img">
                  <i class="fal fa-calendar-alt"></i>
                  <p>Scheduled <br>
                     Assessments 
                  </p>
               </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-6 pr-0 pl-0 athletic_icon_section">
               <div class="athletic_profile" data-toggle="modal" data-target="#myModal">
                  <i class="far fa-chart-network"></i>
                  <p>My Athletic <br>
                     Profile 
                  </p>
               </div>
            </div>
            <div class="col-lg-6 pl-0 pr-0 mobile_hide">
       <div class="athletic_profile"></div>
       </div>
            <div class="col-lg-1 col-md-3 col-sm-6 col-6 pl-0 pr-0 bell_sec">
               <div class="bell-icon-sec">
                  <img src="/themes/custom/bfss_custom/images/images-dashboard/bell-icon.png">
               </div>
            </div>
            <div class="col-lg-1 col-md-3 col-sm-6 col-6 pl-0 pr-0 profile_img_section">
               <div class="profile-sec">
                  <img src="{{user_img_url}}" onclick="openForm()">
                  <!----------- profile pop up start----------- -->
                  <div class="chat-popup" id="myForm">
                     <div class="form-container">
                        <div class="container">
                           <div class="pop_img_sec">
                              <div class="row">
                                 <div class="col-md-4 pr-0 ">
                                     <img src="{{user_img_url}}">
                                 </div>
                                 <div class="col-md-8">
                                    <h2>{{user_name}}</h2>
                                    <p>{{user_roles}}</p>
                                 </div>
                              </div>
                           </div>
                           <div class="pop_text_sec">
                              <a href='/edit/user'><p><i class="far fa-edit"></i>Edit Account Profile</p></a>
                              
                              <a href="#">
                                 <p><i class="fas fa-user-tie"></i>BFSS Manager</p>
                              </a>
                              <a href="#" data-toggle="modal" data-target="#my-profile-Modal">
                                 <p><i class="fas fa-user"></i>Parent / Guardian</p>
                              </a>
                              <a href="#">
                                 <p><i class="fas fa-credit-card"></i>Payment / Receipts</p>
                              </a>
                               <a href='/user/logout'><p><i class="fas fa-power-off"></i>Sign Out</p></a>
                              
                              <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-------Modal Pop start------>
            <div class="profile-right-modal">
               <div class="container">
                  <!-- The Modal -->
                  <div class="modal fade" id="my-profile-Modal">
                     <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                           <!-- Modal Header -->
                           <div class="modal-header">
                              <h4 class="modal-title">Welcome Jodi,to continue you must complete all the required
                                 fields below.
                              </h4>
                              <!--  <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                           </div>
                           <!-- Modal body -->
                           <div class="modal-body">
                              <div class="row">
                                 <div class="col-md-7">
                                    <button class="accordion">ATHLETE'S INFORMATION <i class="fas fa-info"></i></button>
                                    <div class="panel">
                                       <input type="text" name="name" placeholder="Jodi">
                                       <input type="text" name="name" placeholder="Blogs">
                                       <div class="form-group">
                                          <select class="form-control" id="sel1">
                                             <option>AZ</option>
                                             <option>AB</option>
                                             <option>AC</option>
                                             <option>AD</option>
                                          </select>
                                       </div>
                                       <input type="text" name="name" placeholder="City">
                                       <div class="form-group">
                                          <select class="form-control" id="sel1">
                                             <option>Birth Gender</option>
                                             <option>Male</option>
                                             <option>Female</option>
                                          </select>
                                       </div>
                                       <input type="text" name="name" placeholder="DOB:MM/DD/YYYY">
                                       <input type="text" name="name" placeholder="Height in Inches">
                                       <input type="text" name="name" placeholder="Weight in Pounds">
                                    </div>
                                    <!-------SOCIAL/CLUB/UNIVERSITY---SEC--- START-->
                                    <div class="social-club-sec">
                                       <button class="accordion">SOCIAL/CLUB/UNIVERSITY <i class="far fa-trash-alt"></i></button>
                                       <div class="panel">
                                          <div class="form-group">
                                             <select class="form-control" id="sel1">
                                                <option>Organization Type</option>
                                                <option>ABCD</option>
                                                <option>ABCD</option>
                                                <option>ABCD</option>
                                             </select>
                                          </div>
                                          <div class="form-group">
                                             <select class="form-control" id="sel1">
                                                <option>Organization Name</option>
                                                <option>ABCD</option>
                                                <option>ABCD</option>
                                                <option>ABCD</option>
                                                <option>ABCD</option>
                                             </select>
                                          </div>
                                          <input type="text" name="name" placeholder="Coach's Last Name(Optional)">
                                          <input type="text" name="name" placeholder="Sports">
                                          <input type="text" name="name" placeholder="Position">
                                          <h3><a href="#"><i class="fal fa-plus"></i>Additional Position</a></h3>
                                          <textarea placeholder="Your Stats" rows="4"></textarea>
                                       </div>
                                       <h3 class="add-organization"><a href="#"><i class="fal fa-plus"></i>Add Another Organization</a></h3>
                                    </div>
                                    <!-------SOCIAL/CLUB/UNIVERSITY---SEC--- END-->
                                 </div>
                                 <div class="col-md-5">
                                    <div class="socila-media-sec">
                                       <button class="accordion">SOCIAL MEDIA <i class="fas fa-info"></i></button>
                                       <div class="panel">
                                          <input type="text" name="name" placeholder="Your Instagram Account(Optional)">
                                          <input type="text" name="name" placeholder="Your Youtube / Vimeo Channel(Optional)">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Modal footer -->
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-------Modal Pop End------>
            <!----------- profile pop up -----End--------- -->
         </div>
      </div>
   </div>
    {{ page_top }}

   <div class="row" style="margin-left: 0px;margin-right: 0px;">
      <!-- ------------Side Navbar----------start -->
<div class="left_side_section pl-0 pr-0">

         <div class="sidenav" id="sidenav">
            <ul class="side_nav mb-0">
               <li class="sub_menu">
                  <button class="side_button"><span class="side_menu_text">NAVIGATION</span></button> 
               </li>
               <li class="sub_menu active">
                  <button class="side_button"><i class="fas fa-home"></i><span class="side_menu_text">Dashboard</span></button>
               </li>
               <li class="sub-menu-drop">
                  <!--  <button class="side_button">Calender-View & Book</button> -->
                  <nav>
                     <div class="dropdown">
                        <a class="drop" href="#"><i class="fal fa-calendar-alt"></i><span class="side_menu_text">Calender-View &amp; Book</span><span class="down-arrow fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu">
                           <li><a href="#"> Upcoming Group Assessments </a></li>
                           <li><a href="#"> Book a Private Assessment</a></li>
                           <li><a href="#">My Scheduled Assessment</a></li>
                        </ul>
                     </div>
                  </nav>
               </li>
               <li class="sub_menu">
                  <button class="side_button"><i class="far fa-chart-bar"></i><span class="side_menu_text">My Assessment Status</span></button>
               </li>
               <li class="sub-menu-drop">
                  <nav>
                     <div class="dropdown">

                        <a class="drop" href="/bfssAthleteProfile"><i class="far fa-chart-network"></i><span class="side_menu_text">My Athlectic Profile</span><span class="down-arrow fa fa-angle-down"></span></a>

                        <ul class="dropdown-menu">
                           <li><a href="/bfssAthleteProfile">Edit My Athletic Profile </a></li>
                           <li><a href="#">View My Webpage</a></li>
                        </ul>
                     </div>
                  </nav>
               </li>
               <!-- <li class="sub_menu"> -->
               <!-- <button class="side_button"><i class="far fa-cogs"></i></i>Support</button> -->
               <!-- </li> -->
               <li class="sub-menu-drop">
                  <nav>
                     <div class="dropdown">
                        <a class="drop" href="#"><i class="far fa-cogs"></i><span class="side_menu_text">Support</span><span class="down-arrow fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu">
                           <li><a href="/faq-page"> FAQs </a></li>
                           <li><a href="#">Ticketing</a></li>
                        </ul>
                     </div>
                  </nav>
               </li>
            </ul>
         </div>
      </div>

      <div class="right_side_section pl-0 pr-0">
      <div class="dash-main-right">
            <h1><i class="fas fa-home"></i> &gt; Dashboard > Your Scheduled Assessment</h1>
            <div class="dash-sub-main">
               <img src="/themes/custom/bfss_custom/images/images-dashboard/dash-img.png">  
               <h2><span>YOUR</span><br>Your Scheduled Assessment  </h2>
            </div>
         </div>
    {{ page }}
      </div>
      </div>
    {{ page_bottom }}

    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
